.tabs {
  overflow: scroll;
  left: 0;
  right: 0;
  bottom: -1.25rem;
  position: absolute;
}
.tabs::-webkit-scrollbar, .tabs::-webkit-scrollbar {
  display: none;
}
.tabs::-webkit-scrollbar, .tabs::-webkit-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
.tabs__container {
  justify-content: center;
  white-space: nowrap;
  flex-wrap: nowrap;
  background: #fff;
  padding: 0.5rem;
  border-radius: 100rem;
}
.tabs__container > * {
  margin-right: 1rem;
}
.tabs__container div:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .tabs__container {
    justify-content: flex-start;
    border-radius: 0;
  }
}
