@import '../../styles/functions';
@import '../../styles//variables';

.quoteBox {
  min-height: 130vh;
  width: 100%;
  // background: var(--primary-blue);
  background-color: evopack-colour('primary-blue');
  // background-color: map-get($evopack-colours, $key);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > p {
    display: inherit;
  }
}

.quoteBox__text {
  color: var(--white);
  text-align: center;
  position: relative;
  max-width: 1300px;
}

.quoteBox__author {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.startQuote p,
.endQuote p{
  display: inline;
  position: relative;
}

.startQuote::before {
  content: url(/icons/start-quotes.svg);
  display: inline-block;
  position: absolute;
  top: -1.5rem;
  left: -2rem;
}

.endQuote::after {
  content: url(/icons/end-quotes.svg);
  display: inline-block;
  position: absolute;
  bottom: 0rem;
  right: -2rem;
}

// @media screen and (max-width: 992px) {
//   .startQuote::before {
//     content: url(/icons/start-quote--mobile.svg);
//     display: inline-block;
//     position: absolute;
//     top: -1rem;
//     left: -1rem;
//   }

//   .endQuote::after {
//     content: url(/icons/end-quote--mobile.svg);
//     display: inline-block;
//     position: absolute;
//     bottom: 0rem;
//     right: -1rem;
//   }
// }

// @media screen and (max-width: 450px) {
//   .quoteBox {
//     padding-left: 1.6rem;
//     padding-right: 1.6rem;
//   }
// }

/* .quoteBox__text::before {
  content: url(/start-quotes.svg);
  position: absolute;
  top: -1rem;
  left: 0;
}

.quoteBox__text::after {
  content: url(/end-quotes.svg);
  position: absolute;
  bottom: 1rem;
  right: 0;
} */

/* .startQuote::before {
  content: url(/start-quotes.svg);
  position: absolute;
  top: -1rem;
  left: 0;
}

.endQuote::after {
  content: url(/end-quotes.svg);
  position: absolute;
  bottom: 1rem;
  right: 0;
} */
