h1 {
  font-size: 7rem;
  font-weight: 600;
  text-align: center;
  line-height: 96.5%;
}

h2 {
  font-size: 6rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem 0rem;
  /* word-spacing: 100vw; */
  /* margin-top: 4rem; */
  /* overflow-x: hidden; */
}

.centered {
  text-align: center;
}

/* .h2 .one-word-per-line {
  word-spacing: <parent-width>; 
} */

/* .your-classname {
  width: min-intrinsic;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: table-caption;
  display: -ms-grid;
  -ms-grid-columns: min-content;
} */

h3 {
  font-size: 4rem;
  font-weight: bold;
}

h4 {
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  display: inline;
}

h5 {
  font-size: 2.25rem;
  font-weight: semibold;
}

h6 {
  font-size: 1.125rem;
  font-weight: normal;
}

.heading__accent {
  /* max-width: 100%; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* right: 0; */
}

.heading--light {
  color: var(--primary-blue);
}

.heading--dark {
  color: var(--off-white);
}

h2 .endQuote::after {
  content: url(/public/assets/icons/heading-underline.svg);
  display: inline-block;
  position: absolute;
  bottom: -1rem;
  z-index: -1;
  left: 0rem;
  right: 0rem;
}

.underlineAccent {
  position: relative;
}

.underlineAccent:nth-child(1)::after {
  position: absolute;
  content: url(/public/assets/icons/heading-underline.svg);
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: -1rem;
  z-index: -1;
  /* left: 0rem;
  right: 0rem; */
}

@media screen and (max-width: 992px) {
  .underlineAccent:nth-child(1)::after {
    content: url(/public/assets/icons/heading-underline--mobile.svg);
  }
}

/* h4 .startQuote::before {
  content: url(/public/assets/start-quotes.svg);
  display: inline-block;
  position: absolute;
  top: -1rem;
  left: 0;
}

h4 .endQuote::after {
  content: url(/public/assets/end-quotes.svg);
  display: inline-block;
  position: absolute;
  bottom: 0rem;
  right: 10rem;
} */

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 4rem;
  }

  h4 {
    font-size: 2.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 4rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }
}


.heading {
  &--xxs {
    font-size: 1.125rem;
  }
  &--xs {
    font-size: 1.5rem;
  }
  &--sm {
    font-size: 2rem;
  }
  &--md {
    font-size: 3rem;
  }
  &--lg {
    font-size: 4rem;
    line-height: 1.5;
  }
  &--xl {
    font-size: 6rem;
    line-height: 1;
  }
  &--xxl {
    font-size: 9rem;
  }
}

@media screen and (max-width: 1024px) {
  .heading {
    &--xxs {
      font-size: 0.75rem;
    }
    &--xs {
      font-size: 1rem;
    }
    &--sm {
      font-size: 1.5rem;
    }
    &--md {
      font-size: 2.5rem;
    }
    &--lg {
      font-size: 4rem;
      line-height: 1.5;
    }
    &--xl {
      font-size: 5rem;
      line-height: 1;
    }
    &--xxl {
      font-size: 7rem;
    }
  }
  
}
@media screen and (max-width: 768px) {
  .heading {
    &--xxs {
      font-size: 0.75rem;
    }
    &--xs {
      font-size: 0.75rem;
    }
    &--sm {
      font-size: 1rem;
    }
    &--md {
      font-size: 2rem;
    }
    &--lg {
      font-size: 2.5rem;
      line-height: 1.5;
    }
    &--xl {
      font-size: 3rem;
      line-height: 1;
    }
    &--xxl {
      font-size: 4rem;
    }
  }
  
}

// h1 {
//   font-size: 7rem;
// }

// h2 {
//   font-size: 5rem;
// }

// h3 {
//   font-size: 4rem;
// }

// h4 {
//   font-size: 2.25rem;
// }

// h5 {
//   font-size: 1.125rem;
// }

// h6 {
//   font-size: 1rem;
// }