// Variables
$EE_WRAPPER: 'EE';
// EE Brand colours
$evopack-colours: (
  'white': #fff,
  'black': #000,
  'aqua': #009C9C,
  'teal': #007B85,
  'dark-teal': #005A61,
  'yellow': #FFE600,
  'dark-yellow': #F5D500,
  'slate': #6D6E71,
  'coal': #3C3D41,
  'silver': #A9A9A9,
  'stone': #D8D8D9,
  'fog': #F4F4F4,
  'notification-red': #E9020B,
  'notification-green': #178804
) !default;
// EE Device colours
$ee-background-colours: (
  'white': #fff,
  'black': #000,
  'blue': #7AB0EC,
  'green': #89CD60,
  'red': #E33B38,
  'yellow': #E4DB58,
  'orange': #F78000,
  'aqua': #007B85,
  'grey': #848889,
  'silver': #D1D3D2,
  'gold': #D9CDBD,
  'purple': #571B7E,
  'brown': brown,
  'pink': #E65153,
  'rosegold': #D0A8A0,
  'cyan': #2DB1E1,
  'prismblack': #040301,
  'prismwhite': #D5EEF1,
  'prismgreen': #1C6C78,
  'canaryyellow': #D9DE4C,
  'ceramicblack': #2A2620,
  'ceramicwhite': #F4F1ED,
  'lilac': #F8EBFA,
  'palegreen': #ADE0CD,
  'midnightgreen': #6D7A71,
  'cloudpink': #FEE6E8,
  'glacierblue': #CFE2ED,
  'lavared': #C04F37,
  'springyellow': #EBF0A4,
  'bronze':#9a716e,
  'navy': #000080,
  'cloudmint': #B6CFD0,
  'cloudnavy': #485167,
  'cloudred': #B73438,
  'cloudlavender': #DECDE7,
  'cloudwhite': #F0F0F1,
  'cloudorange': #F3C29A,
  'iphonewhite':#f6f3f0,
  'iphoneblack':#39373f,
  'iphoneblue':#224b6c,
  'iphonegreen':#dff0dc,
  'productred':#cc4d48,
  'iphonepacificblue':#305669,
  'iphonegold':#f5d8c0,
  'iphonegraphite':#525150,
  'iphonesilver':#ebebe4,
  'phantomblack':#021e16,
  'phantomsilver':#c2c9d5,
  'phantomviolet':#a5a8c4,
  'phantomgrey':#6e7074,
  'phantomwhite':#e9e9e7,
  'phantompink':#efc5be
) !default;
// Breakpoints map
$breakpoints: (
  xxs: (max-width: 359px),
  xs: (min-width: 360px),
  xxs-sm: (max-width: 615px),
  xs-sm: '(min-width: 360px) and (max-width: 615px)',
  sm: (min-width: 616px),
  sm-md: '(min-width: 616px) and (max-width: 783px)',
  xxs-md: (max-width: 783px),
  md: (min-width: 784px),
  sm-lg: '(min-width: 616px) and (max-width: 1023px)',
  md-lg: '(min-width: 784px) and (max-width: 1023px)',
  md-xl: '(min-width: 784px) and (max-width: 1439px)',
  xxs-lg: (max-width: 1023px),
  lg: (min-width: 1024px),
  lg-xl: '(min-width: 1024px) and (max-width: 1439px)',
  xxs-xl: (max-width: 1439px),
  xl: (min-width: 1440px),
  md-xxl: '(min-width: 784px) and (max-width: 1645px)',
  xxl: (min-width: 1646px), // Deprecated breakpoint for MyEE pages
) !default;
// Respond values
$respond-width: (
  xxs: calc(100% - 1rem),
  xs: 328px,
  sm: 584px,
  md: 752px,
  lg: 992px,
  xl: 1392px
) !default;
// Font sizes map for Rubrik
$font-sizes:  (
  xxxs: 10,
  xxs: 12,
  xs: 14,
  s: 16,
  m: 16, //Modified from 17px. We have left m in case we want to re-instate later
  l: 18,
  xl: 19,
  g1: 20,
  g2: 22,
  g3: 24,
  g4: 26,
  g5: 28,
  g6: 30,
  g7: 32,
  g8: 36
) !default;