.heroInfoBar,
.heroInfoBar__languageSettings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 70px;
}

.heroInfoBar__contactIcons {
  display: flex;
}

.heroInfoBar {
  padding: 2rem 40px;
}

.heroSection__areas {
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* max-width: 600px; */
  background: var(--off-white);
  border-radius: 3rem;
  color: var(--primary-blue);
  padding: 0 1rem;
}

.heroSection__areas > * {
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.heroInfoBar__contactIcons > * {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--off-white);
  border-radius: 50vh;
  padding: 0.5rem;
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .heroInfoBar {
    padding: 2rem 1rem !important;
  }
}
