.button {
  all: unset;
  height: min-content;
  // padding: 0.625rem 1.875rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  white-space: nowrap;
  position: relative;
  font-weight: bolder;
  font-size: 1.125rem;
  cursor: pointer;
  transition: all ease-in-out 250ms;
  text-align: center;
  max-width: min-content;
  align-items: center;
  justify-self: center;
  & div  {
    margin-right: 1rem;
  }
}

.button--primary-green {
  color: var(--primary-green);
  border: 2px solid var(--primary-green);
  transition: 250ms ease-in-out all;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// .button--primary-green::after {
//   position: absolute;
//   top: 6rem;
//   left: 0;
//   right: 0;
//   content: "";
//   width: 100%;
//   height: 0.5rem;
//   filter: blur(5px);
//   background: rgb(0, 0, 0, 0.4);
//   border-radius: 50%;
//   transition: 250ms ease-in-out all;
// }

.button--primary-green:hover {
  background: var(--primary-green);
  color: var(--primary-blue);
  border: 2px solid var(--primary-green);
  transform: translateY(-0.5rem);
}

.button--primary-green:hover::after {
  transform: scaleX(0.5);
  transform-origin: center;
  left: 15px;
  width: 80%;
  transform: translateY(0.5rem);
  background: rgb(0, 0, 0, 0.3);
  /* top: 14px; */
}

// Filled Green Button

.button--primary-green-filled {
  background: var(--primary-green);
  color: var(--off-white);
  border: 2px solid var(--primary-green);
  transition: 450ms ease-in-out all;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 0px var(--primary-green-25perc-solid);
}

// .button--primary-green-filled::after {
//   position: absolute;
//   top: 6rem;
//   left: 0;
//   right: 0;
//   content: "";
//   width: 100%;
//   height: 0.5rem;
//   filter: blur(5px);
//   background: rgb(0, 0, 0, 0.4);
//   border-radius: 50%;
//   transition: 250ms ease-in-out all;
// }

.button--primary-green-filled:hover {
  // transform: translateY(-0.5rem);
  box-shadow: 0 0 0 4px var(--primary-green-25perc-solid);
}

.button--primary-green-filled:hover::after {
  transform: scaleX(0.5);
  transform-origin: center;
  left: 15px;
  width: 80%;
  transform: translateY(0.5rem);
  background: rgb(0, 0, 0, 0.3);
  /* top: 14px; */
}

// Secondary White

.button--secondary-white {
  color: var(--off-white);
  border: 2px solid var(--off-white);
  max-width: min-content;
}

.button--secondary-white:hover {
  background: var(--off-white);
  color: var(--primary-blue);
  border: 2px solid var(--off-white);
}

.button--secondary-blue {
  color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
  max-width: min-content;
}

.button--secondary-blue:hover {
  color: var(--off-white);
  background: var(--primary-blue);
  border: 2px solid var(--primary-blue);
}

// Secondary blue filled

.button--secondary-blue-filled {
  background: var(--primary-blue);
  color: white;
  border: 2px solid var(--primary-blue);
  max-width: min-content;
  // box-shadow: 0 0 0 0px var(--primary-blue-25perc-solid);

  &:hover{
    // box-shadow: 0 0 0 6px var(--primary-blue-25perc-solid);
    // animation: infinite 100ms linear ButtonOrbe;
    animation: ButtonOrbe 1400ms linear infinite;
  }
}

.button--secondary-blue:hover {
  color: var(--off-white);
  background: var(--primary-blue);
  border: 2px solid var(--primary-blue);
  // box-shadow: 0 0 0 4px var(--primary-blue-25perc-solid);
  animation: infinite 10000ms linear ButtonOrbe;
  animation-delay: 800ms;
}

@keyframes ButtonOrbe {
  0% {
    box-shadow: 0 0 0 0px var(--primary-blue-25perc-solid);
  } 100% {
    box-shadow: 0 0 0 12px rgba(27, 27, 45, 0);
  }
}

// 0% {
  //   box-shadow: 0 0 0 0px var(--primary-blue-25perc-solid);
  // } 25% {
  //   box-shadow: 0 0 0 4px var(--primary-blue-25perc-solid);
  // } 50% {
  //   box-shadow: 0 0 0 6px var(--primary-blue-25perc-solid);
  // } 75% {
  //   box-shadow: 0 0 0 2px var(--primary-blue-25perc-solid);
  // } 85% {
  //   box-shadow: 0 0 0 3px var(--primary-blue-25perc-solid);
  // } 100% {
  //     box-shadow: 0 0 0 0px var(--primary-blue-25perc-solid);
  // }

.button--secondary-green-fill {
  /* background: var(--primary-green); */
  color: var(--primary-green);
  border: 2px solid var(--primary-green);
  /* background: var(--primary-green-dark);
  color: var(--off-white);
  border: 2px solid var(--primary-green-dark); */
}

.button--secondary-green-fill:hover {
  background: var(--primary-green);
  color: var(--off-white);
  border: 2px solid var(--primary-green);
}

// White Background Blue Font

.button.secondary-white-filled {
  background: var(--off-white);
  color: var(--primary-blue);
  border: 2px solid var(--off-white);
}

.linkButton {
  all: unset;
  color: var(--primary-blue);
  font-size: 1.125rem;
  font-weight: bold;
  // margin: 0 1.5rem;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  transform-origin: left;
  position: relative;
  padding: 0.625rem 0;
  margin: 0 0 0 1em;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 0%;
    transition: all 200ms ease-in-out;
    background: var(--primary-green);
  }

  &:hover {
    &::after {
      content: "";
      height: 3px;
      width: 100%;
      background: var(--primary-green);
    }
  }
}
@media screen and (max-width: 450px) {

  
  .button--secondary-white {
    margin-top: 2rem;
    padding: 1rem 2rem;
  }

  .button--secondary-blue,
  .button--secondary-white,
  .button--secondary-green-fill,
  .button--primary-green,
  .button--primary-green-filled,
  .button--secondary-blue-filled {
    max-width: 100%;
    width: -webkit-fill-available;
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    // padding: 0.625rem 0;
  }

  .button--primary-green::after,
  .button--primary-green-filled::after {
    display: none;
    // position: unset;
    // top: 6rem;
    // left: 0;
    // right: 0;
    // content: "";
    // width: 0;
    // height: 0;
  }
}
