.spacing {
  height: 4rem;
}

.spacing--xxs {
  height: 0.25rem;
}

.spacing--xs {
  height: 1rem;
}

.spacing--sm {
  height: 2rem;
}

.spacing--md {
  height: 4rem;
}

.spacing--lg {
  height: 8rem;
}

.spacing--xl {
  height: 16rem;
}

@media screen and (max-width: 1024px) {
  .spacing--lg {
    height: 4rem;
  }
}
