.heroSection {
  height: var(--vh, 100vh);
  width: 100%;
  /* padding-top: 10vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 75px 0;
  padding: 5.5rem 2.5rem 0;
  background-image: url(/public/evopack_heroBackground.jpg);
  background-color: linear-gradient(0deg, rgba(255, 255, 255, 0) 5.35%, #FFFFFF 58.6%);
  background-size: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 5.35%, #FFFFFF 58.6%), url(/public/evopack_heroBackground.jpg) 0 20vh;
  background-size: cover;
  // background: url(/public/assets/globe.svg) center -19rem;
}

.heroSection__CTA {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  // align-items: center;
  // justify-content: center;
  // gap: 4rem;
  width: 100%;
  height: 100%;
  border-radius: 64px;
  background: url(/public/evopack_heroBackground.jpg) center;
  background-size: cover;
}

.heroSection__subtitle {
  max-width: 600px;
}

@media screen and (max-width: 1024px) {
  .heroSection {
    padding: 3rem 1rem;
    // background: url(/public/assets/globe.svg) center 10vh no-repeat;
    height: var(--vh90, 80vh);
    height: 100vh;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 5.35%, #FFFFFF 58.6%), url(/public/evopack_heroBackground.jpg) 0 50vh;
    background-size: cover;
    &__CTA {
      max-width: 100%;
      padding: 2rem;
      border-radius: 2.4rem;
      & > h1 {
        // color: white;
      }
    }

    &__subtitle {
      text-align: left;
    }
  }
  // .heroSection {
  //   padding-top: 20vh;
  //   background: url(/public/assets/mobile-hero-background.svg) 100vh 100vw;
  //   background: rgb(27, 27, 45);
  //   background: -moz-radial-gradient(
  //     circle,
  //     rgba(27, 27, 45, 1) 50%,
  //     rgba(81, 93, 183, 1) 100%
  //   );
  //   background: -webkit-radial-gradient(
  //     circle,
  //     rgba(27, 27, 45, 1) 50%,
  //     rgba(81, 93, 183, 1) 100%
  //   );
  //   background: radial-gradient(
  //     farthest-corner at 40px 40px circle,
  //     rgba(27, 27, 45, 1) 50%,
  //     rgba(81, 93, 183, 1) 100%
  //   );
  //   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b1b2d",endColorstr="#515db7",GradientType=1);

  //   &__CTA {
  //     & > h1 {
  //       color: white;
  //     }
  //   }
  // }
}
