.footer {
  padding: 8rem 0 2rem;
}
.footer__legalsButtons > button {
  padding-bottom: 1rem;
}

.footer__subscribe {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.footer__legals {
  padding: 2rem 0;
}

.container {
  padding: 0 40px;
}

@media screen and (max-width: 1200px) {
  .footer__subscribe {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .footer__legals {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .footer__legals > h6 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
