.listItem {
  width: 100%;
}
.listItem_iconContainer {
  border-radius: 100rem;
  background: #F3FCF8;
}
.listItem_iconContainer * {
  margin-right: 0;
}
.listItem__text {
  max-width: 80%;
}

@media screen and (max-width: 450px) {
  .listItem div p {
    text-align: center;
  }
}
