@font-face {
  font-family: 'BasierCircle';
  src: url('../public/BasierCircle/BasierCircle-Bold.otf');
  // src: url('../asset/OpenSans/OpenSans-Medium.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'BasierCircle';
  src: url('../public/BasierCircle/BasierCircle-SemiBold.otf');
  // src: url('../asset/OpenSans/OpenSans-Medium.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BasierCircle';
  src: url('../public/BasierCircle/BasierCircle-Medium.otf');
  // src: url('../asset/OpenSans/OpenSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BasierCircle';
  src: url('../public/BasierCircle/BasierCircle-Regular.otf');
  // src: url('../asset/OpenSans/OpenSans-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: -webkit-fill-available;
  height: var(--vh, 100vh);
  // background-color: #f5f5f7;
}



:root {
  --primary-blue: #1b1b2d;
  --primary-blue-25perc-solid: #C6C6CA;
  --primary-blue-20perc: rgb(27, 27, 45, 0.2);
  --primary-green: #30c07b;
  --primary-green-25perc-solid: #CBEFDE;
  --primary-green-dark: #1c945a;
  --sustain-green: #1A8854;
  --off-white: #f5f5f7;
  --secondary-blue: #616aa5;
  --grey-blue: #595972;
  --white-blue: #e4e4f5;
  --medium-blue: #272739;
  --medium-blue-gradient: linear-gradient(
    84.79deg,
    #1b1b2d -28.29%,
    #2c2c59 105.1%
  );
  --light-grey: rgb(196, 196, 196);
  --mobile: 450px;
  --tablet: 768px;
  --desktop: 1024px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  // font-family: 'BasierCircle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}


// Stylesystem

/* INDEX */

/* 1. General Layout (flex, grid, etc.) */
/* 2. Margin and padding helpers */
// 3. Typography

// 4. Colours & Opacity
// 5. Animations

/* 1 General Layout */

.grid {
  display: grid;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .justify-center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
}

.justify-start {
  justify-content: flex-start;
}

@media screen and (min-width: 1023px) {
  .justify-start-lg {
    justify-content: flex-start;
  }
}

.justify-end {
  justify-content: flex-end;
}

@media screen and (min-width: 1023px) {
  .justify-end-lg {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 450px) {
  .justify-evenly-sm {
    justify-content: space-evenly;
  }
  .justify-start-sm {
    -ms-flex-pack: flex-start;
    -webkit-box-pack: flex-start;
    justify-content: flex-start;
    text-align: flex-start;
  }
}

.justify-between {
  justify-content: space-between;
}

.reveal-flex {
  display: flex !important;
}

@media screen and (max-width: 1023px) {
  .mobile-off {
    display: none;
  }
}

@media screen and (min-width: 1023px) {
  .desktop-off {
    display: none;
  }
}

.position-relative {
  position: relative;
}

.height-100 {
  min-height: 100vh;
  height: 100%;
}

.width-100 {
  width: 100%;
}

// Text alignment

.center-text {
  text-align: center;
}

/* 2 Margin and padding helpers */

.padding {
  &-1 {
    padding: 0.25rem;
  }

  &-2 {
    padding: 0.5rem;
  }

  &-3 {
    padding: 0.75rem;
  }

  &-4 {
    padding: 1rem;
  }

  &-5 {
    padding: 1.25rem;
  }

  &-6 {
    padding: 1.5rem;
  }

  &-7 {
    padding: 1.75rem;
  }

  &-8 {
    padding: 2rem;
  }
}

.padding-top {
  &-1 {
    padding-top: 0.25rem;
  }

  &-2 {
    padding-top: 0.5rem;
  }

  &-3 {
    padding-top: 0.75rem;
  }

  &-4 {
    padding-top: 1rem;
  }

  &-5 {
    padding-top: 1.25rem;
  }

  &-6 {
    padding-top: 1.5rem;
  }

  &-7 {
    padding-top: 1.75rem;
  }

  &-8 {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 1023px) {
  .padding-top-md {
    &-4 {
      padding-top: 1rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .justify-evenly-sm {
    justify-content: space-evenly;
  }

  .padding-top-sm-4 {
    padding-top: 1rem;
  }
}

.padding-bottom {
  &-1 {
    padding-bottom: 0.5rem;
  }

  &-2 {
    padding-bottom: 1rem;
  }

  &-3 {
    padding-bottom: 1.5rem;
  }

  &-4 {
    padding-bottom: 2rem;
  }

  &-5 {
    padding-bottom: 2.5rem;
  }

  &-6 {
    padding-bottom: 3rem;
  }

  &-7 {
    padding-bottom: 3.5rem;
  }

  &-8 {
    padding-bottom: 4rem;
  }

  &-9 {
    padding-bottom: 4.5rem;
  }

  &-10 {
    padding-bottom: 5rem;
  }

  &-11 {
    padding-bottom: 5.5rem;
  }

  &-12 {
    padding-bottom: 6rem;
  }

  &-13 {
    padding-bottom: 6.5rem;
  }

  &-14 {
    padding-bottom: 7rem;
  }

  &-15 {
    padding-bottom: 7.5rem;
  }

  &-16 {
    padding-bottom: 8rem;
  }
}

.padding-horizontal {
  &-1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &-2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-3 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &-4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &-5 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  &-6 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &-7 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  &-8 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &-9 {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }

  &-10 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  &-11 {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }

  &-12 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  &-13 {
    padding-left: 6.5rem;
    padding-right: 6.5rem;
  }

  &-14 {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  &-15 {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }

  &-16 {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

.padding-vertical {
  &-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &-3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &-5 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  &-6 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &-7 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  &-8 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &-9 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  &-10 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &-11 {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }

  &-12 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  &-13 {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
  }

  &-14 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  &-15 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  &-16 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.margin-right {
  &-1 {
    margin-right: 0.5rem;
  }

  &-2 {
    margin-right: 1rem; }

  &-3 {
    margin-right: 1.5rem;
  }

  &-4 {
    margin-right: 2rem; }

  &-5 {
    margin-right: 2.5rem;
  }

  &-6 {
    margin-right: 3rem; }

  &-7 {
    margin-right: 3.5rem;
  }

  &-8 {
    margin-right: 4rem; }

  &-9 {
    margin-right: 4.5rem;
  }

  &-10 {
    margin-right: 5rem; }

  &-11 {
    margin-right: 5.5rem;
  }

  &-12 {
    margin-right: 6rem; }

  &-13 {
    margin-right: 6.5rem;
  }

  &-14 {
    margin-right: 7rem; }

  &-15 {
    margin-right: 7.5rem;
  }

  &-16 {
    margin-right: 8rem; }
}

.width {
  &-none {
    width: 0%;
  }

  &-10 {
    width: 10%;
  }

  &-20 {
    width: 20%;
  }

  &-30 {
    width: 30%;
  }

  &-40 {
    width: 40%;
  }

  &-50 {
    width: 50%;
  }

  &-60 {
    width: 60%;
  }

  &-70 {
    width: 70%;
  }

  &-80 {
    width: 80%;
  }

  &-90 {
    width: 90%;
  }

  &-100 {
    width: 100%;
  }
}

// 3. Typography

.bold {
  font-weight: 600;
}

.no-wrap {
  white-space: nowrap;
}

// 4. Colours & Opacity

.color-primary {
  color: var(--primary-colour);
}

.color-secondary {
  color: var(--secondary-colour);
}

.background-primary {
  background: var(--primary-colour);
}

.background-secondary {
  background: var(--secondary-colour);
}

.opacity {
  &-none {
    opacity: 0%;
  }

  &-10 {
    opacity: 10%;
  }

  &-20 {
    opacity: 20%;
  }

  &-30 {
    opacity: 30%;
  }

  &-40 {
    opacity: 40%;
  }

  &-50 {
    opacity: 50%;
  }

  &-60 {
    opacity: 60%;
  }

  &-70 {
    opacity: 70%;
  }

  &-80 {
    opacity: 80%;
  }

  &-90 {
    opacity: 90%;
  }

  &-100 {
    opacity: 100%;
  }
}

// 5. Minor details

.border-radius {
  &-none {
    border-radius: 0%;
  }

  &-8 {
    border-radius: 0.5rem;
  }

  &-16 {
    border-radius: 1rem;
  }

  &-24 {
    border-radius: 1.5rem;
  }

  &-32 {
    border-radius: 2rem;
  }

  &-40 {
    border-radius: 2.5rem;
  }

  &-48 {
    border-radius: 3rem;
  }

  &-56 {
    border-radius: 3.5rem;
  }

  &-64 {
    border-radius: 4rem;
  }

  &-72 {
    border-radius: 4.5rem;
  }

  &-80 {
    border-radius: 5rem;
  }

  &-round {
    border-radius: 100rem;
  }
}

// 6. Icons

.icon {
  &-medium {
    width: 13px;
    height: 13px;
  }
}

.icon-round {
  padding: 9px;
  border: 3px solid var(--blue);
}

// 7. Borders

.border {
  &-3px-solid-blue {
    border: 3px solid var(--blue);
  }

  &-1px-solid-light-grey {
    border-top: 1px solid var(--light-grey);
  }

  &-1px-solid-black {
    border-top: 1px solid var(--black);
  }
}

// Links

.cta-btn-underlined {
  display: inline-block;
  /* font-size: 36px; */
  font-size: 1.125rem;
  text-decoration: none;
  /* color: var(--primary-color); */
  color: inherit;
  padding: 5px 0px;
  border: none;
  margin: 40px 0px;
  position: relative;
}

.cta-btn-underlined::before {
  position: absolute;
  content: " ";
  bottom: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  transform-origin: right;
  transform: scaleX(1);
  transition: transform 300ms ease-in;
  background: var(--primary-color);
}

.cta-btn-underlined:hover::before {
  /* animation: cta-btn-underlined 800ms forwards; */
  transform: scaleX(0);
  transform-origin: right;
}

.cta-btn-underlined::after {
  position: absolute;
  content: " ";
  bottom: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms ease-in 200ms;
  background: var(--primary-color);
}

.cta-btn-underlined:hover::after {
  /* animation: cta-btn-underlined 200ms forwards; */
  transform: scaleX(1);
  transform-origin: left;
  transition-timing-function: ease-in;
}

@keyframes cta-btn-underlined {
  0% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50% {
    transform: scaleX(0);
    transform-origin: right;
  }

  /* 52% {
    opacity: 0;
  }

  75% {
    transform: scaleX(0);
  } */
  100% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}

// 5. Animations

.fadeUp {
  // animation: fadeUp 1000ms ease-in-out forwards;
  transform: translateY(1rem);
  // opacity: 0;
}

.preFadeUp {
  opacity: 0;

}

@keyframes fadeUp {
  0% {
    transform: translateY(0.25rem);
    opacity: 0;
  } 100% {
    transform: translateY(0);
    opacity: 1;
  }
}



// TABLET

@media only screen and (min-width: 768px) {
  .container {
    width: 46rem;
  }
  .center-text-sm {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 61rem;
  }

  .row-md {
    display: flex;
    flex-direction: row;
  }

  .center-text-md {
    text-align: center;
  }
  
  .start-text-md {
    text-align: start;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 71rem;
  }
  .center-text-lg {
    text-align: center;
  }
  .row-lg {
    display: flex;
    flex-direction: row;
  }
}